
<div>
  <p-table [columns]="cols"
           [value]="documentProcessList"
           selectionMode="single"
           [(selection)]="selectedDocumentProcess"
           (onRowSelect)="onRowSelect($event)"
           (onRowUnselect)="onRowUnselect($event)"
           dataKey="id">
    <ng-template pTemplate="caption">
      List of Document Process
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          <div *ngIf="!isDocumentProcessType(rowData[col.field]); then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>{{rowData[col.field]}}</ng-template>
          <ng-template #elseBlock>{{rowData[col.field].name}}</ng-template>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      There are {{documentProcessList?.length}} DocumentProcess
    </ng-template>
  </p-table>

  <div *ngIf="errorMessage" class="alert alert-danger">
    Error: {{ errorMessage }}
  </div>
</div>






