<div [formGroup]="parentForm">
    <div [formGroup]="addressForm">
        <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-7" style="padding-left: 0px; padding-top: 0px;">
                <span class="md-inputfield">
                    <input id="lStreet" type="text" pInputText formControlName="street" placeholder="Straat"/>
                </span>
            </div>
            <div class="ui-g-3" style="padding-top: 0px;">
                <span class="md-inputfield">
                    <input id="lNumber" type="text" pInputText formControlName="number" placeholder="Nummer"/>
                </span>
            </div>
            <div class="ui-g-2" style="padding-top: 0px;">
                <span class="md-inputfield">
                    <input id="lBus" type="text" pInputText formControlName="bus" placeholder="Bus"/>
                </span>
            </div>
        </div>
        <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-2" style="padding-left: 0px;">
                <span class="md-inputfield">
                    <input id="lZipcode" type="text" pInputText formControlName="zipcode" placeholder="Postcode"/>
                </span>
            </div>
            <div class="ui-g-7">
                <span class="md-inputfield">
                    <input id="lCity" type="text" pInputText formControlName="city" placeholder="Plaats"/>
                </span>
            </div>
            <div class="ui-g-3">
                <span class="md-inputfield">
                    <input id="lCountry" type="text" pInputText formControlName="country" placeholder="Land"/>
                </span>
            </div>
        </div>
    </div>
</div>
