<div *ngIf="address">
  <span style="display: block;">{{ address.street }} {{ address.number }} <span [hidden]="!address.bus">bus {{ address.bus }}</span></span>
  <span style="display: block;">{{ address.zipcode }} {{ address.city }}, {{ address.country }}</span>
</div>
