<div class='ui-g'>
  <div class="ui-g-6">
    <app-left-panel
      [documentProcessList]="documentProcessList$ | async"
      [selectedDocumentProcess]="selectedDocumentProcess$ | async"
      [errorMessage]="errorMessage$ | async"
      (selected)="productSelected($event)"
      (unSelected)="productUnSelected($event)"

    >
    </app-left-panel>
  </div>

  <div class="ui-g-6">
    <app-right-panel
      [selectedDocumentProcess]="selectedDocumentProcess$ | async"
    ></app-right-panel>
  </div>
</div>
