@import "assets/theme/theme-cs";

/* You can add global styles to this file, and also import other style files */


//Overwrite the logo
.layout-container {
  .topbar {
    .logo {
      background: url("./assets/layout/images/logo2x.png") top left no-repeat;
    }
  }
  .footer {
    text-align: center;
    span {
      vertical-align: middle;
      display: inline-block;
    }
  }
}

// Overwrite nodig voor minder whitespace tussen de formuliervelden... Mag weg in de volgende versie van Ultima...
.ui-g {

  &.form-group {
    > div {
      padding: 0.5em;
    }
  }
}

//Centering of the grid paginator
.ui-datatable{
  .ui-paginator-first,.ui-paginator-prev,
  .ui-paginator-pages,.ui-paginator-next,
  .ui-paginator-last{
    position: relative;
    left: -40px;
    top: 6px;
  }
  .ui-paginator-right-content {
    span {
      position: relative;
      top: 8px;
    }
  }
}
.ui-paginator {
  .ui-dropdown {
    position: relative;
    left: -40px;
    top: 6px;
  }
}

//Added validation for touched. Question is if we want to keep this in sync with _forms.scss

input.ng-touched.ng-invalid ~ label {
  color: $invalidInputLabelColor;
}

/* Validation */
.ui-inputtext.ng-touched.ng-invalid,
p-dropdown.ng-touched.ng-invalid > .ui-dropdown,
p-autocomplete.ng-touched.ng-invalid > .ui-autocomplete > .ui-inputtext,
p-calendar.ng-touched.ng-invalid > .ui-inputtext,
p-inputmask.ng-touched.ng-invalid > .ui-inputtext,
p-checkbox.ng-touched.ng-invalid .ui-chkbox-box,
p-radiobutton.ng-touched.ng-invalid .ui-radiobutton-box,
p-inputswitch.ng-touched.ng-invalid .ui-inputswitch,
p-listbox.ng-touched.ng-invalid .ui-inputtext,
p-multiselect.ng-touched.ng-invalid > .ui-multiselect,
p-spinner.ng-touched.ng-invalid > .ui-inputtext,
p-selectbutton.ng-touched.ng-invalid .ui-button,
p-togglebutton.ng-touched.ng-invalid .ui-button {
  border-bottom-color: $invalidInputBorderColor;
}

// Grid styling Guni²
div.cs-data-searchactions-container {

  padding-bottom: 0.5em;

  div.cs-data-search {
    float: left;
    position: relative;
    top: 5px;
  }

  div.cs-data-actions {
    float: right;
  }
}

body {

  /*TODO nog te bekijken indien relevant*/

  .topbar-user-image img{
    height: 36px;
    width: 36px;
    border-radius: 20px;
    object-fit: cover;
  }

  ul.ultima-menu li a{
    cursor: pointer;
  }

  .ui-datatable {

    .ui-datatable-thead {

      .ui-datepicker-calendar {
        tr th {
          color: #173a8c;
        }

      }

    }

  }

  /*
  bij ieder leeg element met de klasse ui-lg-*, ui-md-* of ui-g-*
  zal een &nbsp; (\007C\00a0\00a0) toegevoegd worden die niet zichtbaar is
  deze hack zorgt ervoor dat grid layout elementen met een lege inhoud de lay-out niet breken
  */
  [class*="ui-lg-"]:empty::after,
  [class*="ui-md-"]:empty::after,
  [class*="ui-g-"]:empty::after {
    content: "\007C\00a0\00a0";
    visibility: hidden;
  }

}

/* Make sure that a p-growl appears above a p-dialog: */
.ui-growl {
  z-index:99999999999 !important;
}

/* A <ul> should be moved to the left when it's inside a p-growl */
.ui-growl-message > p > ul {
  margin-left: -2.5em;
}


